body{
 margin:0;
 font-family:Segoe UI, sans-serif;
 background:#e9edf4;
}

.layout{
 display:flex;
 height:100vh;
 gap:20px;
 padding:20px;
}

.sidebar{
 width:280px;
 background:#fff;
 border-radius:15px;
 padding:18px;
 box-shadow:0 4px 10px rgba(0,0,0,.1);
 display:flex;
 flex-direction:column;
}

.search{
 padding:10px;
 border:1px solid #ccc;
 border-radius:10px;
 margin-bottom:12px;
}

.notes-list{
 display:flex;
 flex-direction:column;
 gap:10px;
 overflow-y:auto;
}

.item{
 background:#f6f6ff;
 padding:12px;
 border:1px solid #ddd;
 border-radius:12px;
 cursor:pointer;
 transition:.2s;
}
.item:hover{ background:#ececff }

.small{
 font-size:12px;
 color:#666;
}

.main{
 flex:1;
 background:#fff;
 border-radius:15px;
 padding:25px;
 box-shadow:0 4px 10px rgba(0,0,0,.12);
 position:relative;
}

.empty{
 text-align:center;
 margin-top:50px;
 color:#777;
}

.add-btn{
 position:absolute;
 bottom:20px;
 right:20px;
 width:50px;
 height:50px;
 border-radius:50%;
 border:none;
 background:#5a68ff;
 color:#fff;
 font-size:26px;
 cursor:pointer;
}

.editor{
 display:flex;
 flex-direction:column;
 height:100%;
}

.title{
 border:none;
 font-size:20px;
 margin-bottom:5px;
 font-weight:600;
 outline:none;
}

.info{
 font-size:13px;
 display:flex;
 justify-content:space-between;
 color:#666;
 margin-bottom:10px;
}

.body{
 flex:1;
 border:none;
 background:#f3f4ff;
 padding:10px;
 border-radius:12px;
 outline:none;
}

.row{
 display:flex;
 gap:10px;
 margin-top:10px;
}

.save{
 background:#34c759;
 border:none;
 padding:10px 16px;
 border-radius:10px;
 color:white;
}

.del{
 background:#ff3b30;
 border:none;
 padding:10px 16px;
 border-radius:10px;
 color:white;
}

.hidden{ display:none }


@media(max-width:820px){
 .layout{flex-direction:column}
 .sidebar{width:100%}
 .notes-list{flex-direction:row;overflow-x:auto}
 .item{min-width:160px}
 .main{min-height:60vh}
}
